block vars
doctype html
html
   head
     meta(charset="utf-8")
     meta(name="viewport",content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=no")

     title #{title}

     link(rel="stylesheet",href="../dist/reset.css")
     link(rel="stylesheet",href="../dist/reveal.css")
     link(rel="stylesheet",href="../dist/slides.css")
     link(rel="stylesheet",href="../dist/theme/white.css",id="theme")

     link(rel="stylesheet",href="../plugin/highlight/monokai.css",id="highlight-theme")
   body
     img(class="logo",src="../fig/ntnu.svg")
     div.reveal
       div.slides
          block titleslide
            section(class="titlepage",data-audio-src="audio/titlepage.ogg")
                hgroup
                  h1=title
                  h2=subtitle
                  p(class="author")=author
                  p(class="institute")=institute
                  p(class="date")=date
                aside
                  em  Start the sound player below, please.
                aside
                  a(href="?showNotes=true")  Show sound track as text
                aside
                  div(class="keyrow")
                     span(class="keykey")
                        kbd Esc
                        span  Oversikt
                     span(class="keykey")
                        kbd F
                        span Fullskjerm
                     span(class="keykey")
                        kbd Space
                        span  Neste
                aside(class="notes")
                  p=title
                  p=subtitle

                  p This is a talk for the taught module in machine vision, AIS2204 at NTNU.
          block slides
     div
        script(src="../dist/reveal.js")
        script(src="../plugin/notes/notes.js")
        script(src="../plugin/markdown/markdown.js")
        script(src="../plugin/highlight/highlight.js")
        script(src="../plugin/math/math.js")
        script(src="../plugin/audio-slideshow/plugin.js")
        script.
                // More info about initialization & config:
                // - https://revealjs.com/initialization/
                // - https://revealjs.com/config/
                Reveal.initialize({
                        hash: true,
                        width: 1600,
                        height: 900,
                        controls: true,
                        progress: true,
                        pdfSeparateFragments: false,

                        // Learn about plugins: https://revealjs.com/plugins/
                        plugins: [ RevealAudioSlideshow, RevealMarkdown, RevealHighlight, RevealNotes, RevealMath ],
                        audio: {
                                advance: 2,
                                defaultDuration: 1800,
                                playerOpacity: 0.5

                        },
                        math: {
                              mathjax: 'https://cdn.jsdelivr.net/gh/mathjax/mathjax@2.7.8/MathJax.js',
                              config: 'TeX-AMS_HTML-full',
                              // pass other options into `MathJax.Hub.Config()`
                              TeX: { Macros: { RR: "{\\bf R}" } }
                                  },
                });


                const queryString = window.location.search;
                const urlParams = new URLSearchParams(queryString);
                const showNotes = urlParams.get('showNotes')
                if ( showNotes ) {
                    Reveal.configure({ showNotes: true }) ;
                }
